.app {
  /* width: 100vw; */
  min-height: 100vh;
  background-image: radial-gradient(circle at 50% -20.71%, #b99ae8 0, #9883e0 25%, #6c6cd8 50%, #2258d0 75%, #0048c9 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.setTheme {
  /* background-color: red; */
  height: 80vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.selectsWrapper {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.setTheme label {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.selectTheme, .selectDifficulty{
  width: 100%;
  max-width: 600px;
  height: 70px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 7px;
}

.btnStart {
  width: 100%;
  max-width: 400px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnStart > button {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 7px;
}

.quizWrapper {
  height: 85%;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.quizAnswers {
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.question {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

.answer {
  background-color: white;
  width: 100%;
  max-width: 350px;
  cursor: pointer;
  user-select: none;
}

.resultAnswer {
  background-color: white;
  width: 100%;
  max-width: 360px;
}

.answer:hover {
  transition: transform 200ms ease-in;
  transform: scale(1.02);
}

#selected {
  background-color: #194fc6;
  border: 1px solid black;
  color: white;
}

.btn-green {
  background-color: green;
}

.btn-proximo {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  height: 70px;
}

.endGameWrapper {
  width: 80%;
  text-align: center;
}

.result {
  height: 100vh;
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.resultNumber {
  height: 100%;
  max-height: 320px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.resultNumber p {
  font-size: 1.5rem;
  font-weight: bold;
}

.blue-color {
  color: #2258d0;
}

.green-color {
  color: rgb(7, 121, 7);
}

.red-color {
  color: rgb(202, 9, 9);
}

.emoji {
  font-size: 7rem;
}

.resultButtons {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.playAgainAnalyze {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
  height: 70px;
}